@page "/"
@using Jiper.FontAwesome.Blazor.Components
@using Jiper.FontAwesome.Blazor.Enums
@using Jiper.FontAwesome.IconNames

<PageTitle>FaIcon component samples</PageTitle>

<h1>FaIcon component samples</h1>

<FaIcon Icon="@FaIconsFree.Solid.User"/>
<FaIcon Icon="@FaIconsFree.Solid.HomeAlt"/>
<FaIcon Icon="@FaIconsFree.Solid.UserCircle" Rotation="IconRotation.Rotate180"/>

<FaStack>
    <FaIcon Icon="@FaIconsFree.Solid.LocationPin" StackLayer="StackLayerSize.TwoX" Style="color: forestgreen"/>
    <FaIcon Icon="@FaIconsFree.Solid.UserCircle" StackLayer="StackLayerSize.OneX" Style="color: yellow"/>
</FaStack>
