@page "/"
@using Jiper.FontAwesome.Blazor.Components
@using Jiper.FontAwesome.Blazor.Enums

<PageTitle>FaIcon component samples</PageTitle>

<h1>FaIcon component samples</h1>

<FaIcon Icon="@FaIconsFree.User"/>
<FaIcon Icon="@FaIconsFree.HomeAlt"/>
<FaIcon Icon="@FaIconsFree.UserCircle" Rotation="IconRotation.Rotate180"/>

<FaStack>
    <FaIcon Icon="@FaIconsFree.LocationPin" StackLayer="StackLayerSize.TwoX" Style="color: forestgreen"/>
    <FaIcon Icon="@FaIconsFree.UserCircle" StackLayer="StackLayerSize.OneX" Style="color: yellow"/>
</FaStack>
